@font-face {
  font-family: 'RegularBrush';
  src: url('/fonts/RegularBrush400.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f8f8f8;
  font-family: 'RegularBrush', sans-serif;
  font-size: x-large;
  margin: 0;
  padding: 0;
}

.fallback-font {
  font-family: sans-serif;
}

header {
  background-color: #fab3a1;
  color: black;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

main {
  padding: 20px;
}

/* Estilos generales para la sección de productos */
#productos {
  padding: 20px;
}

#productos h2 {
  text-align: center;
  margin-bottom: 20px;
}

.producto {
  position: relative;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  overflow: hidden;
}

.carrusel {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 45%; /* Relación de aspecto 16:9 */
}

.carrusel .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1.2s ease-in-out;
  opacity: 0;
  z-index: 0;
}

.carrusel .slide img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.carrusel .slide.active {
  transform: translateX(0);
  opacity: 1;
  z-index: 1;
}

.carrusel .slide.inactive {
  transform: translateX(-100%);
  opacity: 0;
  z-index: 0;
}

/* Estilos para la sección 'Sobre Nosotros' */
#sobre-nosotros {
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  max-width: 1000px;
  margin: 20px auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding-bottom: 5%;
  margin-bottom: 10px;
}

#sobre-nosotros h2 {
  color: #ff6f61;
}

#sobre-nosotros p {
  line-height: 1.6;
  margin: 10px 0;
}

#sobre-nosotros h3 {
  margin-top: 20px;
  color: #333;
}

/* Estilos para la sección 'Contacto' */
#contacto {
  background-color: #f0f0f0;
  border-radius: 10px;
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#contacto h2 {
  color: #ff6f61;
  margin-bottom: 20px;
}

#contacto p {
  line-height: 1.6;
  margin: 10px 0;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 10px;
}

form input,
form textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: medium;
}

form button {
  background-color: #ff6f61;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  font-size: x-large;
  font-family: 'RegularBrush';
}

form button:hover {
  background-color: #e55d50;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Responsividad */
@media (max-width: 768px) {
  body {
    font-size: medium;
  }

  nav ul li {
    margin: 5px 10px;
  }

  .producto {
    width: 45%;
  }

  .carrusel {
    padding-bottom: 75%; /* Relación de aspecto 4:3 */
  }

  #sobre-nosotros {
    padding: 20px;
    margin: 20px 10px;
  }

  #contacto {
    padding: 15px;
    margin: 10px;
  }

  form input,
  form textarea {
    font-size: medium;
  }
}

@media (max-width: 480px) {
  body {
    font-size: small;
  }

  header {
    font-size: 1.2em;
  }

  nav ul li {
    margin: 3px 5px;
  }

  .producto {
    width: 90%;
  }

  .carrusel {
    padding-bottom: 100%; /* Relación de aspecto 4:3 */
  }

  #sobre-nosotros {
    padding: 15px;
    margin: 10px;
  }

  #contacto {
    padding: 10px;
    margin: 10px;
  }

  form input,
  form textarea {
    font-size: small;
  }

  form button {
    font-size: medium;
  }
}
