@font-face {
  font-family: 'RegularBrush';
  src: url('/fonts/RegularBrush400.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


body {
  background-color: #f8f8f8;
  font-family: 'RegularBrush', sans-serif;
  font-size: x-large;
  margin: 0;
  padding: 0;
}

header {
  background-color: #fab3a1;
  color: black;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

main {
  padding: 20px;
}

/* Estilos generales para la sección de productos */
#productos {
  padding: 20px;
}

#productos h2 {
  text-align: center;
  margin-bottom: 20px;
}

.producto {
  position: relative;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  overflow: hidden;
}

.carrusel {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 45%; /* Relación de aspecto 16:9 */
}

.carrusel .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1.2s ease-in-out;
  opacity: 0;
  z-index: 0;
}

.carrusel .slide img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.carrusel .slide.active {
  transform: translateX(0);
  opacity: 1;
  z-index: 1;
}

.carrusel .slide.inactive {
  transform: translateX(-100%);
  opacity: 0;
  z-index: 0;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Responsividad */
@media (max-width: 768px) {
  body {
    font-size: medium;
  }

  nav ul li {
    margin: 5px 10px;
  }

  .producto {
    width: 45%;
  }

  .carrusel {
    padding-bottom: 75%; /* Relación de aspecto 4:3 */
  }
}

@media (max-width: 480px) {
  body {
    font-size: small;
  }

  header {
    font-size: 1.2em;
  }

  nav ul li {
    margin: 3px 5px;
  }

  .producto {
    width: 90%;
  }

  .carrusel {
    padding-bottom: 100%; /* Relación de aspecto 4:3 */
  }
}
